.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--gap-large);
  height: calc(
    100dvh - var(--header-min-height) - var(--container-padding-block-large)
  );
  margin-bottom: var(--margin-small);
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider__slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--gap-large);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(0);
}

.slider__slide--active {
  opacity: 1;
}

.slider__info {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--gap-base);
}

.slider__image__container {
  width: auto;
  height: 100%;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-pagination-list {
  display: flex;
  gap: var(--gap-base);
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-pagination-button {
  width: var(--pagination-button-width);
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background-color: var(--pagination-button-color);
  padding: 0 0;
  margin: 0 0;
  cursor: pointer;
}

.slider-pagination-button.is-current {
  background-color: var(--color-heading);
}

@media (hover: hover) {
  .slider-pagination-button:hover {
    background-color: var(--color-accent-hover);
  }
}

@media (max-width: 1300px) {
  .slider {
    height: calc(100dvh - 165px - var(--container-padding-block-base));
  }
}

@media (max-width: 800px) {
  .slider,
  .slider__slide,
  .slider__info {
    row-gap: var(--gap-small);
  }

  .slider {
    height: calc(100dvh - 130px - var(--container-padding-block-base));
  }

  .slider__slide {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider__image__container {
    height: 50%;
    width: 100%;
  }

  .slider__info {
    height: auto;
    width: 100%;
    order: 1;
  }
}

@media (max-width: 400px) {
  .slider-pagination-list {
    row-gap: var(--gap-small);
  }

  .slider {
    height: calc(100dvh - 70px - var(--container-padding-block-small));
  }
}
